<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- cxf3以后，只需要引入这个配置文件即可，其他两个废弃掉了 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />


	<jaxws:endpoint id="userService"
		implementor="com.ssm.webService.service.impl.MyService" address="/userWS">
	</jaxws:endpoint>
</beans>  

