<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--静态的工厂方法核心是class+factory-method -->
	<!-- <bean id="user" class="com.ss.factory.UserFactory" factory-method="getInstance"></bean> -->
	
	
	<bean id="userFactory" class="com.ss.factory.UserFactory" ></bean>
	<bean id="user" factory-bean="userFactory"  factory-method="getInstance2"></bean>
</beans>
