<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 创建一个bean对象 -->
	<bean id="collid" class="com.spring.pojo.Coll">
		<property name="username" value="张三"></property>
	</bean>
	<bean id="user" class="com.spring.pojo.User"></bean>
</beans>